{% extends "base.html" %}
{% block title %}Recipe Manager {% endblock %}

{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="col-md-12 page-header">
            <h2></h2>
         </div>
      </div>
      <div class="container">
         <div class="page-title">
            <h3>{{data["Recipe"]["Name"]}}</h3>
         </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-clock"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Prep Time</p>
                                        <span class="number">{{data["Recipe"]["PrepTime"]}} mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-clock"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Total Time</p>
                                        <span class="number">{{data["Recipe"]["TotalTime"]}} mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-heart"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Calories</p>
                                        <span class="number">{{data["Recipe"]["Nutrients"]["Calories"]}} kcal</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h4 class="mb-0">Nutrition (per meal)
                                    {% if editable %}
                                        <button class="btn btn-sm btn-outline-primary float-end" type="button" onclick="window.location.href = window.location.href.replace('/edit', '')"><i class="fas fa-pen"></i> Save</button>
                                    {% else %}
                                        <button class="btn btn-sm btn-outline-primary float-end" type="button" onclick="window.location.href = window.location.href+'/edit'"><i class="fas fa-pen"></i> Edit</button>
                                    {% endif %}
                                </h4>
                            </div>
                            <br>
                            <div class="canvas-wrapper">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Calories</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Calories"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Calories"]}} {% endif %}
                                                kcal</td>
                                        </tr>
                                        <tr>
                                            <td>Fat</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Fat"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Fat"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Saturated Fat</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["SatFat"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["SatFat"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Carbohydrates</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Carbs"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Carbs"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Sugar</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Sugar"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Sugar"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Fibre</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Fibre"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Fibre"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Protein</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Protein"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Protein"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Salt</td>
                                            <td class="text-end">
                                                {% if editable %} <input type="number" value='{{data["Recipe"]["Nutrients"]["Salt"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Salt"]}} {% endif %}
                                                g</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h4 class="mb-0">
                                    Ingredients
                                    <button class="btn btn-sm btn-outline-primary float-end" type="button" data-bs-toggle="modal" data-bs-target="#addIngredientModal"><i class="fas fa-plus-circle"></i> Add Ingredient</button>
                                </h4>
                            </div>
                            <div class="canvas-wrapper">
                                <table class="table table-striped">
                                    <thead class="success">
                                        <tr>
                                            <th>Ingredient</th>
                                            <th>Amount</th>
                                            <th>Required</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for recipe_ingredient in data["Recipe"]["Ingredients"] %}
                                        <tr>
                                            <td>{{recipe_ingredient["Ingredient"]["Name"]}}</td>
                                            <td>
                                                {{recipe_ingredient["Amount"]}} <small>{{recipe_ingredient["Ingredient"]["UnitType"]}}</small>
                                            </td>
                                            <td>
                                                {% if recipe_ingredient["Required"] == 0 %}
                                                Yes
                                                {% else  %}
                                                No
                                                {% endif %}
                                            </td>
                                            <td class="text-end">
                                               <button onclick="deleteIngredient({{recipe_ingredient['IngredientId']}})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
<div class="col-md-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            Instructions
            <button class="btn btn-sm btn-outline-primary float-end" type="button" data-bs-toggle="modal" data-bs-target="#addStepModal"><i class="fas fa-plus-circle"></i> Add Step</button>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                                            MAKE SURE IF DELETE STEP, STEPS INBETWEEN GET UPDATED<br>
                        ALSO NEED AN EDIT STEP FUNCTIONALITY<br>
                        AND A MOVE STEP FUNCTIONALITY<br>
                        {% for step in data["Recipe"]["Instructions"] %}
                        <tr>
                            <td>
                                <button onclick="TODO" class="btn btn-outline-info btn-rounded"><i class="fas fa-arrow-up"></i></button>
                                <button onclick="TODO" class="btn btn-outline-info btn-rounded"><i class="fas fa-arrow-down"></i></button>
                            </td>
                            <td>{{step["Instructions"]}}</td>
                            <td>
                                <button onclick="TODO" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></button>
                                <button onclick="TODO" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addIngredientModal" tabindex="-1" aria-labelledby="addIngredientModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addIngredientModalLabel">Add Ingredient to Recipe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
            <label for="ingredientId" class="form-label">Ingredient</label>
            <select id="ingredientId" type="number" placeholder="Ingredient" class="form-control" required onchange="onIngredientSelect()">
                {% for ingredient in data["Ingredients"] %}
                    <option value="{{ingredient['Id']}}">{{ingredient["Name"]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="ingredientAmount" class="form-label">Amount</label>
            <input id="ingredientAmount" type="number" placeholder="Amount" class="form-control" required>
            <small id="unitTypeDes"></small>
        </div>
        <div class="mb-3">
            <label for="ingredientRequired" class="form-label">Required</label>
            <select id="ingredientRequired" class="form-select">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onClick="addIngredient()" class="btn btn-primary">Add Ingredient</button>
      </div>
    </div>
  </div>
</div>
<script>
    ingredientUnitTypes = {}
    {% for ingredient in data["Ingredients"] %}
        ingredientUnitTypes[{{ingredient["Id"]}}] = '{{ingredient["UnitType"]}}';
    {% endfor %}

    function onIngredientSelect() {
        const ingredientId = document.getElementById('ingredientId').value;
        document.getElementById("unitTypeDes").innerText  = ingredientUnitTypes[ingredientId];
    }

   onIngredientSelect();

   async function addIngredient() {
       const ingredientId = document.getElementById('ingredientId').value;
       const amount = document.getElementById('ingredientAmount').value;
       const required = document.getElementById('ingredientRequired').value === 'true'; // Convert to boolean

       if (!ingredientId || !amount) {
           alert("Ingredient ID and Amount are required.");
           return;
       }

       try {
           const response = await fetch(`/api/recipe/{{data['Recipe']['Id']}}/ingredient`, {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   ingredient_id: ingredientId,
                   amount: amount,
                   required: required
               })
           });

           const result = await response.json();

           if (response.ok) {
               alert("Ingredient added successfully!");
               location.reload(); // Refresh page to update the ingredient list
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error("Failed to add ingredient:", error);
           alert("An error occurred while adding the ingredient.");
       }
   }

   async function deleteIngredient(ingredient_id) {
       try {
           const response = await fetch('/api/recipe/{{data["Recipe"]["Id"]}}/ingredient/'+ingredient_id, {
               method: 'DELETE',
               headers: {
                   'Content-Type': 'application/json'
               }
           });

           const result = await response.json();

           if (response.ok) {
               alert("Ingredient deleted successfully!");
               location.reload(); // Refresh page to update the table
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error("Failed to delete ingredient from recipe:", error);
           alert("An error occurred while removing ingredient from the recipe.");
       }
   }
</script>

{% endblock %}