{% extends "base.html" %}
{% block title %}Recipe Manager {% endblock %}

{% block content %}
<div class="content">
   <div class="container">
      <div class="row">
         <div class="col-md-12 page-header">
            <h2></h2>
         </div>
      </div>
      <div class="container">
         <div class="page-title">
             {% if editable %}
            <input type="text" id="name" class="form-control" value='{{data["Recipe"]["Name"]}}'>
             {% else %}
            <h3>{{data["Recipe"]["Name"]}}</h3>
             {% endif %}
         </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-clock"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Prep Time</p>
                                        {% if editable %}
                                        <input type="number" id="prepTime" value='{{data["Recipe"]["PrepTime"]}}'> mins
                                        {% else %}
                                        <span class="number">{{data["Recipe"]["PrepTime"]}} mins</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-clock"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Total Time</p>
                                        {% if editable %}
                                        <input id="totalTime" type="number" value='{{data["Recipe"]["TotalTime"]}}'> mins
                                        {% else %}
                                        <span class="number">{{data["Recipe"]["TotalTime"]}} mins</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mt-4">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="icon-big text-center">
                                        <i class="teal fas fa-globe"></i>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="detail">
                                        <p class="detail-subtitle">Source</p>
                                        {% if editable %}
                                        <input id="source" type="text" value='{{data["Recipe"]["Source"]}}'>
                                        {% else %}
                                        <span class="number">{{data["Recipe"]["Source"]}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h4 class="mb-0">Nutrition (per meal)
                                    {% if editable %}
                                        <button class="btn btn-sm btn-outline-primary float-end" type="button" onclick="updateRecipe();"><i class="fas fa-pen"></i> Save</button>
                                    {% else %}
                                        <button class="btn btn-sm btn-outline-primary float-end" type="button" onclick="window.location.href = window.location.href+'/edit'"><i class="fas fa-pen"></i> Edit</button>
                                    {% endif %}
                                </h4>
                            </div>
                            <br>
                            <div class="canvas-wrapper">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Calories</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='calories' type="number" value='{{data["Recipe"]["Nutrients"]["Calories"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Calories"]}} {% endif %}
                                                kcal</td>
                                        </tr>
                                        <tr>
                                            <td>Fat</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='fat' type="number" value='{{data["Recipe"]["Nutrients"]["Fat"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Fat"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Saturated Fat</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='satFat' type="number" value='{{data["Recipe"]["Nutrients"]["SatFat"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["SatFat"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Carbohydrates</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='carbs' type="number" value='{{data["Recipe"]["Nutrients"]["Carbs"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Carbs"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Sugar</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='sugar' type="number" value='{{data["Recipe"]["Nutrients"]["Sugar"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Sugar"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Fibre</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='fibre' type="number" value='{{data["Recipe"]["Nutrients"]["Fibre"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Fibre"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Protein</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='protein' type="number" value='{{data["Recipe"]["Nutrients"]["Protein"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Protein"]}} {% endif %}
                                                g</td>
                                        </tr>
                                        <tr>
                                            <td>Salt</td>
                                            <td class="text-end">
                                                {% if editable %} <input id='salt' type="number" value='{{data["Recipe"]["Nutrients"]["Salt"]}}'>
                                                {% else %} {{data["Recipe"]["Nutrients"]["Salt"]}} {% endif %}
                                                g</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="content">
                            <div class="head">
                                <h4 class="mb-0">
                                    Ingredients
                                </h4>
                            </div>
                            <div class="canvas-wrapper">
                                <table class="table table-striped">
                                    <thead class="success">
                                        <tr>
                                            <th>Ingredient</th>
                                            <th>Amount</th>
                                            <th>Units</th>
                                            <th>Required</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for recipe_ingredient in data["Recipe"]["Ingredients"] %}
                                        <tr>
                                            <td>{{recipe_ingredient["Ingredient"]["Name"]}}</td>
                                            <td>
                                                {{recipe_ingredient["Amount"]}}
                                            </td>
                                            <td>
                                                <small>{{recipe_ingredient["Ingredient"]["UnitType"]}}</small>
                                            </td>
                                            <td>
                                                {% if recipe_ingredient["Required"] == 0 %}
                                                No
                                                {% else  %}
                                                Yes
                                                {% endif %}
                                            </td>
                                            <td class="text-end">
                                               <button onclick="deleteIngredient({{recipe_ingredient['IngredientId']}})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td>
                                                <select id="ingredientSelect" class="form-control" onchange="onIngredientSelect()">
                                                    <option></option>
                                                    {% for ingredient in data["Ingredients"] %}
                                                        <option value="{{ingredient['Id']}}">{{ingredient["Name"]}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>
                                                <input id="ingredientAmount" type="number" placeholder="Amount" class="form-control" required>
                                            </td>
                                            <td>
                                                <small id="unitTypeDes"></small>
                                            </td>
                                            <td>
                                                <select id="ingredientRequired" class="form-select">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </td>
                                            <td class="text-end">
                                               <button onClick="addIngredient()" class="btn btn-outline-info btn-rounded"><i class="fas fa-plus"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Instructions
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                {% for step in data["Recipe"]["Instructions"] %}
                                <tr>
                                    <td>
                                        <button onclick="moveStep({{step['StepNumber']}}, -1)" class="btn btn-outline-info btn-rounded"><i class="fas fa-arrow-up"></i></button>
                                        <button onclick="moveStep({{step['StepNumber']}}, 1)" class="btn btn-outline-info btn-rounded"><i class="fas fa-arrow-down"></i></button>
                                    </td>
                                    <td>{{step["Instructions"]}}</td>
                                    <td>
                                        <button onclick="deleteStep({{step['StepNumber']}})" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td></td>
                                    <td>
                                        <input class="form-control" id="newStep" type="textarea" placeholder="Add new step...">
                                    </td>
                                    <td>
                                        <button onclick="addNewStep()" class="btn btn-outline-info btn-rounded"><i class="fas fa-plus"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>

<script>
    // Get values from Python into JS
    ingredients = {}
    ingredientUnitTypes = {}
    {% for ingredient in data["Ingredients"] %}
        ingredients['{{ingredient["Name"]}}'] = '{{ingredient["Id"]}}'
        ingredientUnitTypes[{{ingredient["Id"]}}] = '{{ingredient["UnitType"]}}';
    {% endfor %}

    // Adjusts unit type when adding an ingredient
    function onIngredientSelect() {
        const ingredientId = document.getElementById('ingredientSelect').value;
        if (ingredientId) {
            document.getElementById("unitTypeDes").innerText  = ingredientUnitTypes[ingredientId]
        } else {
            document.getElementById("unitTypeDes").innerText  = ""
        }
    }

    onIngredientSelect()

    // Initialise Select2 dropdown for selecting an ingredient to add
    $(document).ready(function() {
        // Initialize Select2
        $('#ingredientSelect').select2({
            placeholder: "Select an ingredient",
            allowClear: true,
            width: '100%'
        });
    });

    async function updateRecipe() {
        const name = document.getElementById('name').value;
        const prepTime = document.getElementById('prepTime').value;
        const totalTime = document.getElementById('totalTime').value;
        const source = document.getElementById('source').value;

        const calories = document.getElementById('calories').value;
        const fat = document.getElementById('fat').value;
        const satFat = document.getElementById('satFat').value;
        const carbs = document.getElementById('carbs').value;
        const sugar = document.getElementById('sugar').value;
        const fibre = document.getElementById('fibre').value;
        const protein = document.getElementById('protein').value;
        const salt = document.getElementById('salt').value;

       try {
           const response = await fetch(`/api/recipe/{{data['Recipe']['Id']}}`, {
               method: 'PUT',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   name: name,
                   prepTime: prepTime,
                   totalTime: totalTime,
                   source: source
               })
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the recipe
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           return;
           console.error("Failed to update recipe: ", error);
           alert("Failed to update recipe: ", error);
       }

       try {
           const response = await fetch(`/api/recipe/{{data['Recipe']['Id']}}/nutrients`, {
               method: 'PUT',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   calories: calories,
                   fat: fat,
                   satFat: satFat,
                   carbs: carbs,
                   sugar: sugar,
                   fibre: fibre,
                   protein: protein,
                   salt: salt
               })
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the recipe
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           return;
           console.error("Failed to update recipe: ", error);
           alert("Failed to update recipe: ", error);
       }

        window.location.href = window.location.href.replace('/edit', '')
    }


   async function addNewStep() {
        const newStep = document.getElementById("newStep").value;

       try {
           const response = await fetch(`/api/recipe/{{data['Recipe']['Id']}}/step`, {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   Step: newStep
               })
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the ingredient list
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error("Failed to add step:", error);
           alert("An error occurred while adding the step.");
       }
   }

   async function addIngredient() {
       const ingredientId = document.getElementById('ingredientSelect').value;
       const amount = document.getElementById('ingredientAmount').value;
       const required = document.getElementById('ingredientRequired').value === 'true'; // Convert to boolean

       if (!(ingredientId && amount)) {
            return;
       }

       if (!ingredientId || !amount) {
           alert("Ingredient ID and Amount are required.");
           return;
       }

       try {
           const response = await fetch(`/api/recipe/{{data['Recipe']['Id']}}/ingredient`, {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   ingredient_id: ingredientId,
                   amount: amount,
                   required: required
               })
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the ingredient list
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error( error);
       }
   }

   async function deleteIngredient(ingredient_id) {
       try {
           const response = await fetch('/api/recipe/{{data["Recipe"]["Id"]}}/ingredient/'+ingredient_id, {
               method: 'DELETE',
               headers: {
                   'Content-Type': 'application/json'
               }
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the table
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error( error);
       }
   }

   async function moveStep(stepId, amount) {
       try {
           const response = await fetch('/api/recipe/{{data["Recipe"]["Id"]}}/step/'+stepId+'/move/'+amount, {
               method: 'PUT',
               headers: {
                   'Content-Type': 'application/json'
               }
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the table
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error( error);
       }
   }

   async function deleteStep(step_number) {
       try {
           const response = await fetch('/api/recipe/{{data["Recipe"]["Id"]}}/step/'+step_number, {
               method: 'DELETE',
               headers: {
                   'Content-Type': 'application/json'
               }
           });

           const result = await response.json();

           if (response.ok) {
               location.reload(); // Refresh page to update the table
           } else {
               alert("Error: " + result.error);
           }
       } catch (error) {
           console.error( error);
       }
   }
</script>

{% endblock %}